.row {
    padding-top: 10px;
}

.itemseperate{
    padding-top: 10px;
    border-bottom: solid;
    border-color: black;
}

.total {
    
    padding-top: 10px;
    border-top: solid;
    border-color: black;
}