<div class='row'>
    <div class='col-8'>
        Search item:
        <input type='text'
                  [(ngModel)]='listFilter' />

        <th>Matched Items</th>                 
        <tbody>
            <tr *ngFor='let item of filteredItems'>
                <td class='itemseperate'>
                    <li>{{ item.itemName }}</li>
                    <ul>{{ item.description }}</ul>
                    <ul>{{ item.price | currency:'GBP':'symbol':'1.2-2' }}</ul>
                </td>
                <td class='itemseperate'>
                    <ul>
                        <a [href]='item.imageUrl' target='_blank'>
                            <img [src]='item.imageUrl'
                            [title]='item.itemName'
                            [style.width.px]='imageWidth'>
                        </a>
                    </ul>
                    <ul>
                        <button type='button' 
                        class='btn btn-success'
                        (click)='addItem(item)'>
                            Add
                        </button>
                    </ul>
                </td>
            </tr>
        </tbody>
    </div>
    <div class='col'>
        Selected item(s):
        <tbody>
            <tr *ngFor='let item of selectedItems'>
                <td>
                    <ul>
                        {{ item.itemName }}
                    </ul>
                </td>
                <td>
                    <ul>
                        {{ item.price | currency:'GBP':'symbol':'1.2-2' }}
                    </ul>
                </td>
            </tr>
            <tr *ngIf='selectedItems.length'>
                <td class='total'>
                    <ul>
                        Total
                    </ul>
                </td>
                <td class='total'>
                    <ul>
                        {{ orderTotal | currency:'GBP':'symbol':'1.2-2' }}
                    </ul>
                </td>
            </tr>
            <tr *ngIf='selectedItems.length'>
                <p><a [routerLink] = "['/confirm']" [state]="{ data: selectedItems }" class="btn btn-primary">Confirm Order</a></p>
            </tr>
        </tbody>
    </div>
</div>