.card {
    /* Link used to centre div: https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/ */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-body {
    text-align: center;
}

.modalLink {
    background-color: palevioletred;
}

.modalLink:hover {
    color: black;
    font-weight: bold;
    cursor: pointer; 
}